# Ignore arquivos de build do Visual Studio
bin/
obj/

# Ignore arquivos de usuário e configurações locais
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações específicas do Visual Studio
.vs/

# Arquivos de log e temporários
*.log
*.tmp
*.temp
*.bak

# Diretórios de publicação
publish/

# Arquivos do pacote NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# Configurações de cache do MSBuild
*.msbuild*

# Arquivos de configuração do Rider/JetBrains (se estiver usando)
.idea/

# Ignorar DLLs e EXEs gerados
*.dll
*.exe

# Outros arquivos e pastas comumente ignorados
TestResults/
*.dbmdl
*.pdb
*.cache

# Ignorar arquivos do ReSharper (se estiver usando)
_ReSharper*/
*.DotSettings.user
